.meme {
    max-width: 100%;
    background-color: #25282a;
}
.wrapper {
    padding: 1rem 2rem 1rem 2rem;
}
.meme-img-wrapper {
    width: 96vw;
    overflow: hidden;
}
.meme-img-list {
    display: flex;
    flex-direction: row;
    transition: transform 0.5s ease-in-out;
    width: 400%;
    /*flex-wrap: nowrap;*/
}
.img img {
    border-radius: 1rem;
    min-width: 96vw ;
    max-height: 60vh;
}
.meme-context {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.meme-img-wrapper input[type=radio] {
	display: none;
}
.slider-item label {
	display: inline-block;
	cursor: pointer;
	border: 0.2em solid transparent;
    padding: 0.5em;
    border-radius: 1.5rem;
    border-color: #71abff;
    background-color: #71abff;
}
.slider-item label:hover {
    border-color: #ffffff;
    background-color: #ffffff;
}
.slider-item input[type=radio]:checked + label {
    background-color: transparent;
}
.slider-item {
    display: inline-block;
	margin-right: 0.625rem;
    
}
.meme-text {
    
}

#first-pagginator:checked~.meme-img-list {
    transform: translateX(0);
}
#second-pagginator:checked~.meme-img-list {
    transform: translateX(-25%);
}
#third-pagginator:checked~.meme-img-list {
    transform: translateX(-50%);
}
#fourth-pagginator:checked~.meme-img-list {
    transform: translateX(-75%);
}