p {
    width: 100%;
    color: #ffffff;
}
.meme {
    max-width: 100%;
    background-color: #25282a;
}
.wrapper {
    padding: 1rem 2rem 1rem 2rem;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.meme-img-wrapper {
    max-width: 94vw;
    overflow: hidden;
}
.meme-img-list {
    display: flex;
    flex-direction: row;
    transition: transform 0.5s ease-in-out;
    width: 400%;
}
.img img {
    border-radius: 1rem;
    width: 94vw ;
    max-height: 60vh;
}
.meme-context {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    overflow: hidden;
}
.slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.area {
    border: 0.2em solid transparent;
    padding: 0.5em;
    border-radius: 1.5rem;
    border-color: #71abff;
    background-color: #71abff;
}
.slider label {
    cursor: pointer;
}
.slider label:hover .area{
    border-color: #ffffff;
    background-color: #ffffff;
}
.wrapper input[type=radio] {
	display: none;
}
.slider-item label {
	display: inline-block;
	cursor: pointer;
	border: 0.2em solid transparent;
    padding: 0.5em;
    border-radius: 1.5rem;
    border-color: #71abff;
    background-color: #71abff;
}
.slider-item label:hover {
    border-color: #ffffff;
    background-color: #ffffff;
}

.slider-item {
    display: inline-block;
	margin: 0.625rem;
    
    
}
.meme-text-wrapper {
    max-width: 85vw;
    overflow: hidden;
}
.meme-text {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.text {
    min-width: 100%;
    text-wrap: nowrap;
}
#first-pagginator:checked~.meme-img-wrapper > .meme-img-list {
    transform: translateX(0);
}
#second-pagginator:checked~.meme-img-wrapper > .meme-img-list {
    transform: translateX(-25%);
}
#third-pagginator:checked~.meme-img-wrapper > .meme-img-list {
    transform: translateX(-50%);
}
#fourth-pagginator:checked~.meme-img-wrapper > .meme-img-list {
    transform: translateX(-75%);
}

#first-pagginator:checked~ .meme-context > .slider > label:first-child .area,
#second-pagginator:checked~ .meme-context > .slider > label:nth-child(2) .area,
#third-pagginator:checked~.meme-context > .slider > label:nth-child(2) .area,
#fourth-pagginator:checked~.meme-context > .slider > label:last-child .area {
    background-color: transparent;
}
#first-pagginator:checked~ .meme-context > .meme-text-wrapper > .meme-text {
    transform: translateX(0%);
}
#second-pagginator:checked~ .meme-context > .meme-text-wrapper > .meme-text {
    transform: translateX(-100%);
}
#third-pagginator:checked~.meme-context > .meme-text-wrapper > .meme-text {
    transform: translateX(-200%);
}
#fourth-pagginator:checked~.meme-context > .meme-text-wrapper > .meme-text {
    transform: translateX(-300%);
}

@media (max-width: 500px) {
    .meme-context {
        flex-direction: column;
    }
    .slider {
        justify-content: center;
    }
    .meme-img-wrapper {
        max-width: 88vw ;
    }
    .img img {
        width: 88vw ;
    }
}